body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.heading {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 0px !important;
}
.heading > h1 {
  text-align: center;
}

#filter-btns, #search-btns {
  
  border: 0.5px black solid;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: #dddddd;
  margin-left: 2px;
  margin-right: 2px;
}

#filter-btns {
  justify-content: space-evenly;
}

#filter-btns > div {
  display: flex;
  flex-direction: column;
  width: 16% !important;
}

#filter-btns > button, #search, #backlogs, #activity-logs, #openPopupButton, #add-subtask, #add-task {
  padding: 7px 10px;
  margin-bottom: 0;
  font-weight: 600;
  border-radius: 4px;
  border-width: thin;
  cursor: pointer;
}

#apply-filters {
  color: #08871e;
  border-color: #08871e;
}
#search {
  color: #08871e;
  border-color: #08871e;
}
#apply-filters:hover {
  background-color: #08871e;
  color: #fff;
}
#clear-filters:hover {
  background-color: #b40000;
  color: #fff;
}
#search:hover {
  background-color: #08871e;
  color: #fff;
}
#clear-filters {
  color: #b40000;
  border-color:  #b40000;
}

#search-btns > div {
  display: flex;
  flex-direction: column;
  width: 25%;
}
#search-btns > * {
  margin-left: 10px;
  margin-right: 10px;
}
#backlogs {
  padding: 8px 12px;
  color:#08871e;
  border-color: #08871e;
}
#backlogs:hover {
  background-color:#08871e;
  color: #fff
}
#activity-logs {
  padding: 8px 12px;
  color:#b40000;
  border-color: #b40000;
}
#activity-logs:hover {
  background-color:#b40000;
  color: #fff
}
#openPopupButton, #add-subtask, #add-task {
  padding: 8px 12px;
  color:#000;
  border-color: #000;
}
#openPopupButton:hover, #add-subtask:hover, #add-task:hover {
  background-color:#000;
  color: #fff
}
.top-btns {
  position: absolute;
  right: 5px;
  top: 28px;
  display: flex;
  justify-content: end;
}
.top-btns > button {
  margin-left: 5px;
}
#tasks-div {
  display: flex;
  flex-wrap: wrap;
}

.add-task-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
#top-container-btns > * {
    /* width: 80%; */
    margin-bottom: 10px;
    padding: 5px 10px;
}


  #priority > div {
    display: flex;
  }
  #priority > div > input {
    width: auto;
  }
  #task-form {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  #task-form > * {
    margin-top: 5px;
  }
  .close-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #333;
  }

#subtasks {
    display: flex;
    flex-direction: column;
}
.task-card {
    flex-basis: calc(100% / 2);
    margin: 10px;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.tags {
  display: inline;
}
.tags> span {
  background-color: #e2dada;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 2px;
}
.marked-done {
  text-decoration: line-through;
}


.mark-done-btn, .mark-undone-btn, .delete-btn, .edit-btn {
  color: #fff;
  border-color: transparent;
  border-radius: 4px;
  width: 33%;
}
.mark-done-btn, .mark-undone-btn {
  background-color: #2e812e;
}
.delete-btn {
  background-color: #e01919;
}
.edit-btn {
  background-color: #1776df;
}
.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.priority { 
    font-weight: 500;
}
.category, .priority {
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
}

.tags {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.subtasks {
    margin-top: 10px;
}

.reminder, .subtasks, .subtasks > span, .due-date {
    font-size: 14px;
    color: #555;
}
.subtasks > span {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 2px;
}

.due-date {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }

.btns {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
}
.btns > button {
    /* width: 33%; */
    padding: 10px;
}

.log-div {
    margin: 10px;
    margin-left: 32%;
    border: 0.5px black solid;
    border-radius: 4px;
    width: auto;
    padding: 10px;
}

@media (max-width: 768px) {
    .task-card {
      max-width: 90%;
    }
  }